/* responsive at 940 width. Change the padding on right side to match left*/


.intro{
	display: inline-block;
	font-family: 'Cabin', sans-serif;
	padding-top: 2em;
	padding-left: 2em;
	text-align: center;
	background-color: #2B3244;
	padding-left: 0px;
}

.rightSide{
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;
	padding-left: 6em;
	padding-right: 6em;
	padding-top: 1em;
	text-align: center;
	width: 22em;
}

.content h1 {
	font-size: 2em;
	color: #B93624;
	letter-spacing: 0.03em;
	padding-top: 2em;
	padding-bottom: .2em;
	font-family: 'Oswald', Arial, sans-serif;
}

.content p{
	color: #4C555A;
}

.bigFont{
   	color: #B93624;
   	text-shadow: 2px 2px 2px #332C24;
   	font-size: 1.8em;
	text-align: center;
	padding: 50px 60px;
    display: inline-block;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    border-radius: 300px;
    -moz-box-shadow: 2px 2px 12px #B93624;
    -webkit-box-shadow: 2px 2px 12px #B93624;
    box-shadow: 2px 2px 12px #B93624;
}

.addItems{
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em;
	color: #B93624;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #B93624;
}

.input {
    border: .5em solid #E8D284;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2.4em;
	padding-right: 2.4em;
	background: #B93624;
	margin: 0 0 0px 0;
	color: white;
	vertical-align: middle;
	text-transform: uppercase;
}

.listSection{
	padding-bottom: 2em;
}

.listUl{
	width: 22em;
	margin-left: auto;
	margin-right: auto;
}


.listUl li{
	color: #332C24;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	font-size: 1.2em;
}

.listUl li:nth-child(even){
	background-color:#B93624;
	color: #E8D284;
}

.listUl li:nth-child(odd){
	background-color: #E8D284;
	color: #B93624;
}

.item{
	letter-spacing: 0.1em;
	
}

.checked{ 
	text-decoration: line-through;
}


.social{
	width: 22em;
	margin-right: auto;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #B93624;
	color: #E8D284;
	font-family: 'Oswald', Arial, sans-serif;
	font-size: 1em;
	letter-spacing: .05em;
	text-align: center;
	line-height: 1.5em;

}

.social a{
	color: #E8D284;
	text-decoration: underline;
}

.social a:hover{
	text-decoration: none;
	background-color: #2B3244;
}

.social hr{
	width: 33%;
	display: inline-block;
	height: 2px;
    border: 0; border-top: 2px solid #2B3244;
}

.socialLinks a{
	color: #E8D284;
	font-size: 1.6em;
}

.socialLinks a:hover{
	background-color: #B93624;
	color: #2B3244;
	
}

.deleteButton{
	border: none;
	border-radius: 0.25em;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: inline-block;
	font-size: 1em;
	margin-left: 12em;
	width: auto;
	background-color: #2B3244;
	color: white;
}

.big-button:hover{
	cursor: pointer;
}